header {
    background-color: #e4a0b7;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
nav {
    background-color: #ffb3c6;
    text-align: center;
    padding: 10px 0;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2 {
    color: #333;
}
footer {
    background-color: #e4a0b7;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto;
}